﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Angular</title>
    <base href="/" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>
<body>
    <app-root></app-root>
    <script type="text/javascript" src="~/Scripts/runtime.js"></script>
    <script type="text/javascript" src="~/Scripts/es2015-polyfills.js" nomodule></script>
    <script type="text/javascript" src="~/Scripts/polyfills.js"></script>
    <script type="text/javascript" src="~/Scripts/styles.js"></script>
    <script type="text/javascript" src="~/Scripts/vendor.js"></script>
    <script type="text/javascript" src="~/Scripts/main.js"></script>
</body>
</html>
