<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to your employee list!
  </h1>
</div>
<div style="text-align:center">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Enter employee ID" type="number" [(ngModel)]="employeeId" name="employeeId" />
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="getEmployeeList()" color="primary">Search</button>
</div>
<mat-progress-bar *ngIf="isBusy" mode="indeterminate"></mat-progress-bar>
<div *ngIf="showError" style="text-align:center">
  <h3>
    An error has ocurred, please try again!
  </h3>
</div>
<div *ngIf="employeeList.length === 0" style="text-align:center">
  <h3>
    No results found
  </h3>
</div>
<div *ngIf="employeeList.length > 0">
  <div *ngFor="let item of employeeList" style="text-align:center">
    <mat-card>
      <mat-card-header style="text-align:center">
        <mat-card-title
          ><b>{{ item.Name }}</b></mat-card-title
        >
        <mat-card-subtitle style="text-align:center">{{ item.ContractTypeName }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>Role: {{ item.RoleName }}</div>
        <div>HourlySalary: {{ item.HourlySalary | currency }}</div>
        <div>MonthlySalary: {{ item.MonthlySalary | currency }}</div>
        <div>AnnualSalary: {{ item.AnnualSalary | currency }}</div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
